{% extends "ArcservePatchBuilder/layout.html" %}

{% block scripts%}

<script>
 $.validator.setDefaults({
    submitHandler: function(){
        $("#results").show();
        $("#results").html("");
        $("#results").append("<span'> Status as below: </span><br>");
        //$(this).prop('disabled', true);
        var rindex1 = $("#patch").val().lastIndexOf('\\')
        var rindex2 = $("#patch").val().lastIndexOf('.')
        var patchname = $("#patch").val().substring(rindex1+1, rindex2)
        console.log('patch name' + patchname);
        var ws_scheme = window.location.protocol == "https:"? "wss": "ws";
        var ws_path = ws_scheme + "://" + window.location.host + "/ws/asbu/"+ patchname + "/";
        console.log("connecting to " + ws_path)
        var wsock = new WebSocket(ws_path);
        var tfile = document.getElementById('patch').files[0];
        console.log(tfile.name +":"+ tfile.size);
        var chunk_size = 4*1024*1024; //4MB
        var reader = new FileReader();
        var rawData = new ArrayBuffer();
        var end = chunk_size;    
        if (tfile.size < end)
        {
            end = tfile.size;

        }
        var slice = tfile.slice(0, end);
        var uploadbarExists = false;
        var unzipbarExists = false;

        wsock.onmessage = function(e){
            var msg = JSON.parse(e.data);
            msgType = msg['msgType'].toLowerCase();
            
            if ( msgType== 'error')
                $("#results").append("<span class='error'>" + msg['message'] +"</span><br>")
            else if (msgType == 'patchstatus')
            {
                var message = msg['message']
                if (message.toLowerCase() == 'pending')
                {
                    $("#results").append("<span class='info'>...</span>")
                }
                else
                {
                    $("#results").append("<span class='info'>" + msg['message'] +"</span><br>")
                }
            }
            else if (msgType == 'patchsuccess')
            {
                console.log(msg['message']);
                var lnk = "<span class='info'>You can download <a href='/asbu/patches/" + msg['message'].substring(0, msg['message'].length - 4) + "/'>" + msg['message'] +" </a> now! </span><br>";
                $("#results").append(lnk)
            }
            else if (msgType == 'uploadstatus')
            {    
                var message = msg['message'].toLowerCase();
                if (!uploadbarExists)
                {
                    $("#results").append('<span id="uploadProgress" class="info">' + (end*100/tfile.size).toFixed(2) +'% (' + end + '/' + tfile.size + ') bytes uploaded. </span><br>');
                    uploadbarExists = true;         
                }
                if (message== 'progress')
                {
                    if (tfile.size == end)
                    {
                        wsock.send(JSON.stringify({
                            'receiver': 'patch',
                            'uploadFinished': true
                        }));
                        console.log('patch uploaded successfully.');   
                        $("#results").append('<span class="info"> patch uploaded successfully.</span><br>') 
                        return;
                    }

                    if (tfile.size - end >chunk_size)
                    {
                        slice = tfile.slice(end, end+chunk_size);
                        end += chunk_size;    
                    }
                    else
                    {
                        slice = tfile.slice(end, tfile.size);
                        end =tfile.size;
                    }
                    reader.readAsArrayBuffer(slice);
                    $("#results span#uploadProgress").text((end*100/tfile.size).toFixed(2) +'% (' + end + '/' + tfile.size + ') bytes uploaded.');
                }
                else if (message == 'done')
                {
                    console.log('patch uploaded successfully.')
                }
            }
            else if (msgType == 'unzipstatus')
            {
                var message = msg['message']
                if (!unzipbarExists)
                {
                    $("#results").append("<span id='unzipstatus' class = 'info'>" + message + " files unzipped. </span><br>");
                    unzipbarExists = true
                }
                else
                {
                    $("#results span#unzipstatus").text(message + " files unzipped.")
                }
                
            }
        }
        wsock.onclose = function(e){
            console.error('websocket get closed unexpectedly.')
            
        }
        wsock.onerror = function(e){
            $("#results").append("<span style='color:red'>" + 'error occurred in websocket..' + "</span>")
        }
        wsock.onopen = function(e){
            //patch version
            var version = $("#version").val();
            wsock.send(JSON.stringify({
                'receiver': 'version',
                'data': version
            }));
            if ($("#chkemail").is(":checked"))
            {
                wsock.send(JSON.stringify({
                    'receiver': 'email',
                    'data': $("#email").val(),
                }));
            }
            
            reader.onload = function(e){
                rawData = e.target.result;
                wsock.send(rawData);
                
            }
            reader.readAsArrayBuffer(slice);
            wsock.send(JSON.stringify({
                    'receiver': 'patch',
                    'name' : $("#patch").val()
                }));     
        }
    }});
$(document).ready(function(){
    $.validator.methods.email = function(value, element){
        return this.optional(element) || value.toLowerCase().endsWith("arcserve.com");
    }

    $.validator.addMethod("patch", function(value, element){
        return this.optional(element) || /^[tp][0-9]{8}\.(caz|zip)$/.test(value.toLowerCase());
    }, "patch name is not correct. it should be <patch name>.[zip|caz], e.g.T00009527.zip or P00009527.caz.");

    $("#uploadpatchform").validate({
        rules:{
            version: "required",
            email: {
                required: "#chkemail:checked",
                email: true
            },
           
            patch: {
                required: true,
                //extension: "zip|caz",
                patch: true
            },
        }, 
        messages: {
            email: "please enter a valid email address, and only arcserve.com is supported.",
            

        }
    });
    
    $("#chkemail").click(function(){
        if ($(this).is(":checked")){
            $("#lblemail").text("Enter your email address: ");
            $("#email").prop('disabled', false);
            $("#pemail").show();
        }
        else{
            $("#pemail").hide();
            $("#lblemail").text("Email me after finish.");
            $("#email").val("")
            $("#email").prop('disabled', true);
        }
    });
    
});
function emailcheck()
    {
        if ($("#chkemail").prop("checked"))
        {
            $("#chkemail").prop("checked", false);
            $("#pemail").hide();
            $("#lblemail").text("Email me after finish.");
            $("#email").val("")
            $("#email").prop('disabled', true);
        }
        else
        {
            $("#chkemail").prop("checked", true);
            $("#lblemail").text("Enter your email address: ");
            $("#email").prop('disabled', false);
            $("#pemail").show();
        }

    }
</script>
<style>
    .error{
        color:red;
    }

    .info{
        color: skyblue;
    }
</style>
{% endblock %}

{% block content %}

<h2>ASBU Patch Creater</h2>
<form method="POST" id="uploadpatchform" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <p><b>Description:</b><br>
                &emsp;1. This is to help you automate the process of create ASBU patches. It will upload and sign all your binaries, create the patch, sign and 
                share the created Txxxxxxxx.exe for you. <br>
                &emsp;2. Chrome is preferred, other browers not tested. :)
        </p><br>
            <p><b>Usage:</b><br>
                &emsp;1. zip all your binaries and the Txxxxxxxx.txt file to Txxxxxxxx.zip or Txxxxxxxx.caz like what you did to create a patch.<br>
                &emsp;2. select the corresponding ASBU version<br>
                &emsp;3. enter the email address if you want to receive email after patch get created.<br>
                &emsp;4. select the zip file and then submit. <br>
                &emsp;5. after all finished, you will get the link to download the signed Txxxxxxxx.exe file <br>
            </p><br>
        </div>
        <div class="form-group">
            <label for="version">Patch Version:</label><br>
            <select id="version" name="version">
                <option value="18.0">18.0</option>
                <option value="17.5.1">17.5.1</option>
                <option value="17.5">17.5</option>
                <option value="17.0">17.0</option>
            </select>
        </div>

        <div class="form-group">
            <input type="checkbox" name ="chkemail" id="chkemail" />
            <label for="email" id="lblemail" onclick="emailcheck()">
                Email me after finish.
            </label>
            <label id=pemail hidden>
                <input name="email" type="email" id="email" >
            </label>
        </div>
        <div class="form-group">

            <input id="patch" name="patch" type="file"> <br>
            <input type="submit" id=btnsubmit value="submit">
        </div>
        <div class="form-group">
            <p id="results" cols="100" rows="100" hidden></p>
        </div>
</form>

{%endblock%}

