{% extends "ArcservePatchBuilder/layout.html" %}

{% block scripts%}

<script>

$(document).ready(function(){
    // $.validator.setDefaults({
    // submitHandler: function() {
    //     $("#uploadpatchform").submit();
    // }
    // });

    $.validator.methods.email = function(value, element){
        return this.optional(element) || value.toLowerCase().endsWith("arcserve.com");
    }

    $.validator.addMethod("patch", function(value, element){
        return this.optional(element) || /^[tp][0-9]{8}/.test(value.toLowerCase());
    }, "patch name is not correct. it should be <patch name>.zip, e.g.T00009527.zip  P00009527.zip.");

    $("#uploadpatchform").validate({
        rules:{
            version: "required",
            email: {
                required: "#chkemail:checked",
                email: true
            },
           
            patch: {
                required: true,
                extension: "zip",
                patch: true
            },
        }, 
        messages: {
            email: "please enter a valid email address, and only arcserve.com is supported.",
            

        }
    });
    
    $("#chkemail").click(function(){
        if ($(this).is(":checked")){
            $("#lblemail").text("Enter your email address: ");
            $("#email").prop('disabled', false);
            $("#pemail").show();
        }
        else{
            $("#pemail").hide();
            $("#lblemail").text("Email me after finish.");
            $("#email").val("")
            $("#email").prop('disabled', true);
        }
    });
    // if("{{version}}")
    //     $("#version").val("{{version}}");
    // if ("{{email}}" !="")
    // {
    //     $("#chkemail").prop("checked", true);
    //     $("#lblemail").text("Enter your email address: ");
    //     $("#email").prop('disabled', false);
    //     $("#pemail").show();
    //     $("#email").val("{{email}}");
    // }
    // if ("{{patch}}")
    // {
    //     $("#btnsubmit").prop('disabled', true);
    // }

    var ws_scheme = window.location.protocol == "https:"? "wss": "ws";
    var ws_path = ws_scheme + "://" + window.location.host + "/ws/asbu/"
    console.log("connecting to " + ws_path)
    var wsock = new WebSocket(ws_path);

    wsock.onmessage = function(e){
        var msg = e.data;
        console.log('msg: ' + msg)
        //var msg = data['message'];
        $("#results").append("<span>" + msg+"</span><br/>")

    }
    wsock.onclose = function(e){
        console.error('websocket get closed unexpectedly.')
    }

    $("#btnsubmit").click(function(){
        $("#results").show();
        $("#results").text('Status as below: <br/>')
        //patch version
        var version = $("#version").val();
        wsock.send(JSON.stringify({
            'receiver': 'version',
            'data': version
        }));
        if ($("#chkemail").is(":checked"))
        {
            wsock.send(JSON.stringify({
                'receiver': 'email',
                'data': $("#email").val(),
            }));
        }
        var file = document.getElementById('patch').files[0];
        var reader = new FileReader();
        var rawData = new ArrayBuffer();
        reader.loadend = function(){

        }

        reader.onload = function(e){
            rawData = e.target.result;
            wsock.send(JSON.stringify({
                'receiver': 'patch',
                'name' : $("#patch").val()
            }));
            wsock.send(rawData);
            
        }
        reader.readAsArrayBuffer(file);
    });

});
</script>
<style>
    .error{
        color:red;
    }
</style>
{% endblock %}

{% block content %}

<h2>ASBU Patch Builder</h2>
<form method="POST" id="uploadpatchform" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <p>Note:<br>
                your fix to Txxxxxxxx.zip <br>
                examples....
        </p><br>
        </div>
        <div class="form-group">
            <label for="version">Patch Version:</label><br>
            <select id="version" name="version">
                <option value="18.0">18.0</option>
                <option value="17.5.1">17.5.1</option>
                <option value="17.5">17.5</option>
                <option value="17.0">17.0</option>
            </select>
        </div>

        <div class="form-group">
            <input type="checkbox" name ="chkemail" id="chkemail" />
            <label for="email" id="lblemail">
                Email me after finish.
            </label>
            <label id=pemail hidden>
                <input name="email" type="email" id="email" >
            </label>
        </div>
        <div class="form-group">

            <input id="patch" name="patch" type="file"> <br>
            <input type="button" id=btnsubmit value="upload">
        </div>
        <div class="form-group">
            <p id="results" cols="100" rows="100" hidden>status as below: <br></p>
        </div>
</form>

{%endblock%}

